[user]
	name = Leon Li
	email = leonlee.angli@gmail.com
	ui = true
[core]
	autocrlf = input
	editor = nano
	excludesfile = /home/leonli/.gitignore
	pager = less -+FX
[push]
	autoSetupRemote = true
	default = simple
[credential]
	helper = cache --timeout=864000
[init]
	templateDir = /home/leonli/.git-template
